@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
@import "./variables/variables.scss";

body {
  background-color: $Lightgrayishcyan;
}

* {
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

.logo {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
}

.app {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 550px;
  height: 300px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $White;

  padding: 15px;
  border-radius: 15px;
  box-shadow: 0px 0px 14px 3px rgba(34, 60, 80, 0.2);
}

@media screen and (max-width: 700px) {
  .app {
    min-width: 350px;
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 20px;
  }

  .logo {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
  }
}
